### LICENSE PLATE EVALUATION FOR KAGGLE DATASET

In [1]:
import pandas as pd
import numpy as np

In [2]:
header = ["Plate"]
dt=pd.read_csv('groundtruth.csv',names=header)
dt.dtypes

Plate    object
dtype: object

In [3]:
dt['Plate'].str.split('',expand=True).head(5)
# dt

  0  1  2  3  4  5  6     7     8     9     10    11    12
0     E  4  G  L  E     None  None  None  None  None  None
1     1  5  L  K  1  0     8     9     8        None  None
2     C  Z  I  7  K  0     D        None  None  None  None
3     C  H  I  0  0  S     E        None  None  None  None
4     G  O  O  G  L  E        None  None  None  None  None

In [4]:
header2 = ["Plate"]
ANN_df=pd.read_csv('ANN_output.csv',skip_blank_lines=False,names=header2)
ANN_df.dtypes

Plate    object
dtype: object

In [5]:
ANN_df['Plate'].str.split('',expand=True)

      0    1    2    3    4    5    6    7     8     9     10    11
0           W    E    4    6    L    E       None  None  None  None
1           1    5    L    K    1    0    8     9     8        None
2           C    Z    7    K    D    D       None  None  None  None
3           C    H    D    D    S    E       None  None  None  None
4           G    O    D    G    L    E       None  None  None  None
..   ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...   ...
225         K    L    5    5    K    2    4     7     3        None
226  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
227         K    P    C    1    J    1    J        None  None  None
228         5    2    A    D    5    9    9     D        None  None
229  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN

[230 rows x 12 columns]

In [6]:
cp = pd.merge(dt, ANN_df, how='inner', on=['Plate']).count()
cp

Plate    32
dtype: int64

In [7]:
missing = dt['Plate'].count() - ANN_df['Plate'].count()
missing

97

In [8]:
fail = 230 - cp - missing
fail

Plate    101
dtype: int64

In [9]:
correct = cp/230
miss = missing/230
fail_detect = fail/230

In [10]:
print ('Correct / Overall Plates -> ' , round(correct, 2).to_string())
print ('Missing / Overall Plates -> ' , round(miss, 2))
print ('Incorrect / Overall Plates -> ' , round(fail_detect, 2).to_string())

Correct / Overall Plates ->  Plate    0.14
Missing / Overall Plates ->  0.42
Incorrect / Overall Plates ->  Plate    0.44

In [11]:
Accuracy = correct * 100
print('Accuracy', round(Accuracy, 2).to_string(), '%')

Accuracy Plate    13.91 %

# Part 2 -> Accuracy of the characters by row for each License Plate

In [12]:
merged = dt.copy()

In [13]:
merged['Plate2'] = ANN_df['Plate']
# merged.head(20)

In [14]:
merged1 = merged['Plate'].str.split('',expand=True)
merged2 = merged['Plate2'].str.split('',expand=True)
m3 = merged1 + merged2

In [15]:
m4=m3.copy()

In [16]:
m4['AA']=(m4 == 'AA').T.sum()
m4['BB']=(m4 == 'BB').T.sum()
m4['CC']=(m4 == 'CC').T.sum()
m4['DD']=(m4 == 'DD').T.sum()
m4['EE']=(m4 == 'EE').T.sum()
m4['FF']=(m4 == 'FF').T.sum()
m4['GG']=(m4 == 'GG').T.sum()
m4['HH']=(m4 == 'HH').T.sum()
m4['II']=(m4 == 'II').T.sum()
m4['JJ']=(m4 == 'JJ').T.sum()
m4['KK']=(m4 == 'KK').T.sum()
m4['LL']=(m4 == 'LL').T.sum()
m4['MM']=(m4 == 'MM').T.sum()
m4['NN']=(m4 == 'NN').T.sum()
m4['OO']=(m4 == 'OO').T.sum()
m4['PP']=(m4 == 'PP').T.sum()
m4['QQ']=(m4 == 'QQ').T.sum()
m4['RR']=(m4 == 'RR').T.sum()
m4['SS']=(m4 == 'SS').T.sum()
m4['TT']=(m4 == 'TT').T.sum()
m4['UU']=(m4 == 'UU').T.sum()
m4['VV']=(m4 == 'VV').T.sum()
m4['WW']=(m4 == 'WW').T.sum()
m4['XX']=(m4 == 'XX').T.sum()
m4['YY']=(m4 == 'YY').T.sum()
m4['ZZ']=(m4 == 'ZZ').T.sum()

m4['00']=(m4 == '00').T.sum()
m4['11']=(m4 == '11').T.sum()
m4['22']=(m4 == '22').T.sum()
m4['33']=(m4 == '33').T.sum()
m4['44']=(m4 == '44').T.sum()
m4['55']=(m4 == '55').T.sum()
m4['66']=(m4 == '66').T.sum()
m4['77']=(m4 == '77').T.sum()
m4['88']=(m4 == '88').T.sum()
m4['99']=(m4 == '99').T.sum()

In [17]:
m4[['AA', 'BB', 'CC', 'DD', 'EE', 'FF', 'GG', 'HH', 'II', 'JJ', 'KK', 'LL', 'MM', 'NN', 'OO', 'PP', 'QQ', 'RR', 'SS', 'TT', 'UU', 'VV', 'WW', 'XX', 'YY', 'ZZ', '00', '33', '44', '55', '66', '77', '99', '88', '11', '22']].head(20)

,AA,BB,CC,DD,EE,FF,GG,HH,II,JJ,...,00,33,44,55,66,77,99,88,11,22
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,1,2,2,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,2,1
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,1
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,0,1
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,1,...,0,2,0,1,1,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,1,...,0,1,0,2,0,0,0,0,0,2
19,2,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,1,1,0,0

In [18]:
m4["Correct(TP)"] = m4.sum(axis=1)

In [19]:
dataString = dt.copy()
stringData = dataString.to_string()

In [20]:
dataString["PlateLength"]= dataString['Plate'].str.len()

In [21]:
dataString["Correct(TP)"] = m4["Correct(TP)"]

In [22]:
dataString["Overall"] = dataString['Correct(TP)']/dataString['PlateLength']

In [23]:
dataString["Overall"] = dataString['Overall'].round(2)

In [24]:
acc = dataString['Overall'].sum()/230*100

In [25]:
print('Accuracy - > ', acc.round(2), '%')

Accuracy - >  33.51 %

# Part 3 - Precision and Recall

In [26]:
rp=merged2.replace(np.nan, '-')
gt=merged1.replace(np.nan, '-')

In [27]:
test = gt+rp
# test.head(20)

In [28]:
test1=test.replace(np.nan, '-')
# test1

In [29]:
test1['AA']=(test1 == 'AA').T.sum()
test1['BB']=(test1 == 'BB').T.sum()
test1['CC']=(test1 == 'CC').T.sum()
test1['DD']=(test1 == 'DD').T.sum()
test1['EE']=(test1 == 'EE').T.sum()
test1['FF']=(test1 == 'FF').T.sum()
test1['GG']=(test1 == 'GG').T.sum()
test1['HH']=(test1 == 'HH').T.sum()
test1['II']=(test1 == 'II').T.sum()
test1['JJ']=(test1 == 'JJ').T.sum()
test1['KK']=(test1 == 'KK').T.sum()
test1['LL']=(test1 == 'LL').T.sum()
test1['MM']=(test1 == 'MM').T.sum()
test1['NN']=(test1 == 'NN').T.sum()
test1['OO']=(test1 == 'OO').T.sum()
test1['PP']=(test1 == 'PP').T.sum()
test1['QQ']=(test1 == 'QQ').T.sum()
test1['RR']=(test1 == 'RR').T.sum()
test1['SS']=(test1 == 'SS').T.sum()
test1['TT']=(test1 == 'TT').T.sum()
test1['UU']=(test1 == 'UU').T.sum()
test1['VV']=(test1 == 'VV').T.sum()
test1['WW']=(test1 == 'WW').T.sum()
test1['XX']=(test1 == 'XX').T.sum()
test1['YY']=(test1 == 'YY').T.sum()
test1['ZZ']=(test1 == 'ZZ').T.sum()

test1['00']=(test1 == '00').T.sum()
test1['11']=(test1 == '11').T.sum()
test1['22']=(test1 == '22').T.sum()
test1['33']=(test1 == '33').T.sum()
test1['44']=(test1 == '44').T.sum()
test1['55']=(test1 == '55').T.sum()
test1['66']=(test1 == '66').T.sum()
test1['77']=(test1 == '77').T.sum()
test1['88']=(test1 == '88').T.sum()
test1['99']=(test1 == '99').T.sum()

In [30]:
test1["Sum(TP)"] = test1.sum(axis=1)
# test1.head(5)

In [31]:
test2 = test.copy()

In [32]:
test2['A-']=(test2 == 'A-').T.sum()
test2['B-']=(test2 == 'B-').T.sum()
test2['C-']=(test2 == 'C-').T.sum()
test2['D-']=(test2 == 'D-').T.sum()
test2['E-']=(test2 == 'E-').T.sum()
test2['F-']=(test2 == 'F-').T.sum()
test2['G-']=(test2 == 'G-').T.sum()
test2['H-']=(test2 == 'H-').T.sum()
test2['I-']=(test2 == 'I-').T.sum()
test2['J-']=(test2 == 'J-').T.sum()
test2['K-']=(test2 == 'K-').T.sum()
test2['L-']=(test2 == 'L-').T.sum()
test2['M-']=(test2 == 'M-').T.sum()
test2['N-']=(test2 == 'N-').T.sum()
test2['O-']=(test2 == 'O-').T.sum()
test2['P-']=(test2 == 'P-').T.sum()
test2['Q-']=(test2 == 'Q-').T.sum()
test2['R-']=(test2 == 'R-').T.sum()
test2['S-']=(test2 == 'S-').T.sum()
test2['T-']=(test2 == 'T-').T.sum()
test2['U-']=(test2 == 'U-').T.sum()
test2['V-']=(test2 == 'V-').T.sum()
test2['W-']=(test2 == 'W-').T.sum()
test2['X-']=(test2 == 'X-').T.sum()
test2['Y-']=(test2 == 'Y-').T.sum()
test2['Z-']=(test2 == 'Z-').T.sum()

test2['0-']=(test2 == '0-').T.sum()
test2['1-']=(test2 == '1-').T.sum()
test2['2-']=(test2 == '2-').T.sum()
test2['3-']=(test2 == '3-').T.sum()
test2['4-']=(test2 == '4-').T.sum()
test2['5-']=(test2 == '5-').T.sum()
test2['6-']=(test2 == '6-').T.sum()
test2['7-']=(test2 == '7-').T.sum()
test2['8-']=(test2 == '8-').T.sum()
test2['9-']=(test2 == '9-').T.sum()

In [33]:
test2["Sum(FN)"] = test2.sum(axis=1)
# test2.head(15)

In [34]:
test3 = dt.copy()
test3['Model Data'] = merged['Plate2']
test3['PlateLength'] = dataString["PlateLength"]
test3['Correct(TP)'] = test1['Sum(TP)']
test3['Missing(FN)'] = test2['Sum(FN)']
test3['Incorrect(FP)'] = test3['PlateLength'] - test3['Correct(TP)'] - test3['Missing(FN)']

In [35]:
test3.head(5)

       Plate Model Data  PlateLength  Correct(TP)  Missing(FN)  Incorrect(FP)
0      E4GLE     WE46LE            5            0          0.0            5.0
1  15LK10898  15LK10898            9            9          0.0            0.0
2    CZI7K0D     CZ7KDD            7            2          0.0            5.0
3    CHI00SE     CHDDSE            7            2          0.0            5.0
4     GOOGLE     GODGLE            6            5          0.0            1.0

In [36]:
# Correct (TP), inccorect (FP), missing(FN)
# Precision = TP / (TP + FP)
# Recall = TP / (TP + FN)

results = test3.copy()
results['Recall'] = results['Correct(TP)'] / (results['Correct(TP)'] + results['Missing(FN)'])
results['Precision'] = results['Correct(TP)'] / (results['Correct(TP)'] + results['Incorrect(FP)'])
results

,Plate,Model Data,PlateLength,Correct(TP),Missing(FN),Incorrect(FP),Recall,Precision
0,E4GLE,WE46LE,5,0,0.0,5.0,NaN,0.000000
1,15LK10898,15LK10898,9,9,0.0,0.0,1.0,1.000000
2,CZI7K0D,CZ7KDD,7,2,0.0,5.0,1.0,0.285714
3,CHI00SE,CHDDSE,7,2,0.0,5.0,1.0,0.285714
4,GOOGLE,GODGLE,6,5,0.0,1.0,1.0,0.833333
...,...,...,...,...,...,...,...,...
225,KL55R2473,KL55K2473,9,8,0.0,1.0,1.0,0.888889
226,HR26DA2330,NaN,10,0,10.0,0.0,0.0,NaN
227,KPC1313,KPC1J1J,7,5,0.0,2.0,1.0,0.714286
228,62A05990,52AD599D,8,5,0.0,3.0,1.0,0.625000
229,MG38206,NaN,7,0,7.0,0.0,0.0,NaN

In [37]:
print('Precision - > ', (results['Precision'].sum() / 230 * 100).round(2), '%')
print('Recall - > ', (results['Recall'].sum() / 230 * 100).round(2), '%')

Precision - >  33.98 %
Recall - >  48.04 %

### LICENSE PLATE EVALUATION FOR MALAYSIAN DATASET

In [38]:
import pandas as pd
import numpy as np

In [39]:
header = ["Plate"]
dt=pd.read_csv('groundtruth_MY.csv',names=header)
dt.dtypes

Plate    object
dtype: object

In [40]:
dt['Plate'].str.split('',expand=True).head(5)
# dt

  0  1  2  3  4  5  6     7     8     9     10    11    12    13
0     M  A  H  4  1     None  None  None  None  None  None  None
1     V  B  L  7  6  8     9        None  None  None  None  None
2     P  P  F  2  3  0     8        None  None  None  None  None
3     P  P  P  7  6  9     8        None  None  None  None  None
4     P  L  A  2  5  4     5        None  None  None  None  None

In [41]:
header2 = ["Plate"]
ANN_df=pd.read_csv('ANN_output_MY.csv',skip_blank_lines=False,names=header2)
ANN_df.dtypes

Plate    object
dtype: object

In [42]:
ANN_df['Plate'].str.split('',expand=True)

      0    1    2    3     4     5     6     7     8
0          A    H    4     1        None  None  None
1   NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN
2          P    P    F     Z     3     0     8
3          P    P    P     1     6     3     B
4          P    2       None  None  None  None  None
..  ...  ...  ...  ...   ...   ...   ...   ...   ...
71  NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN
72  NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN
73         W    U    A     I     D     2     3
74         W    J    V     2     4        None  None
75  NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN

[76 rows x 9 columns]

# Part 1 -> Accuracy of the Entire License Plate for each row

In [43]:
cp = pd.merge(dt, ANN_df, how='inner', on=['Plate']).count()
cp

Plate    7
dtype: int64

In [44]:
missing = dt['Plate'].count() - ANN_df['Plate'].count()
missing

43

In [45]:
fail = 230 - cp - missing
fail

Plate    180
dtype: int64

In [46]:
correct = cp/230
miss = missing/230
fail_detect = fail/230

In [47]:
print ('Correct / Overall Plates -> ' , round(correct, 2).to_string())
print ('Missing / Overall Plates -> ' , round(miss, 2))
print ('Incorrect / Overall Plates -> ' , round(fail_detect, 2).to_string())

Correct / Overall Plates ->  Plate    0.03
Missing / Overall Plates ->  0.19
Incorrect / Overall Plates ->  Plate    0.78

In [48]:
Accuracy = correct * 100
print('Accuracy', round(Accuracy, 2).to_string(), '%')

Accuracy Plate    3.04 %

# Part 2 -> Accuracy of the characters by row for each License Plate

In [49]:
merged = dt.copy()

In [50]:
merged['Plate2'] = ANN_df['Plate']
# merged.head(20)

In [51]:
merged1 = merged['Plate'].str.split('',expand=True)
merged2 = merged['Plate2'].str.split('',expand=True)
m3 = merged1 + merged2

In [52]:
m4=m3.copy()

In [53]:
m4['AA']=(m4 == 'AA').T.sum()
m4['BB']=(m4 == 'BB').T.sum()
m4['CC']=(m4 == 'CC').T.sum()
m4['DD']=(m4 == 'DD').T.sum()
m4['EE']=(m4 == 'EE').T.sum()
m4['FF']=(m4 == 'FF').T.sum()
m4['GG']=(m4 == 'GG').T.sum()
m4['HH']=(m4 == 'HH').T.sum()
m4['II']=(m4 == 'II').T.sum()
m4['JJ']=(m4 == 'JJ').T.sum()
m4['KK']=(m4 == 'KK').T.sum()
m4['LL']=(m4 == 'LL').T.sum()
m4['MM']=(m4 == 'MM').T.sum()
m4['NN']=(m4 == 'NN').T.sum()
m4['OO']=(m4 == 'OO').T.sum()
m4['PP']=(m4 == 'PP').T.sum()
m4['QQ']=(m4 == 'QQ').T.sum()
m4['RR']=(m4 == 'RR').T.sum()
m4['SS']=(m4 == 'SS').T.sum()
m4['TT']=(m4 == 'TT').T.sum()
m4['UU']=(m4 == 'UU').T.sum()
m4['VV']=(m4 == 'VV').T.sum()
m4['WW']=(m4 == 'WW').T.sum()
m4['XX']=(m4 == 'XX').T.sum()
m4['YY']=(m4 == 'YY').T.sum()
m4['ZZ']=(m4 == 'ZZ').T.sum()

m4['00']=(m4 == '00').T.sum()
m4['11']=(m4 == '11').T.sum()
m4['22']=(m4 == '22').T.sum()
m4['33']=(m4 == '33').T.sum()
m4['44']=(m4 == '44').T.sum()
m4['55']=(m4 == '55').T.sum()
m4['66']=(m4 == '66').T.sum()
m4['77']=(m4 == '77').T.sum()
m4['88']=(m4 == '88').T.sum()
m4['99']=(m4 == '99').T.sum()

In [54]:
m4[['AA', 'BB', 'CC', 'DD', 'EE', 'FF', 'GG', 'HH', 'II', 'JJ', 'KK', 'LL', 'MM', 'NN', 'OO', 'PP', 'QQ', 'RR', 'SS', 'TT', 'UU', 'VV', 'WW', 'XX', 'YY', 'ZZ', '00', '33', '44', '55', '66', '77', '99', '88', '11', '22']].head(20)

,AA,BB,CC,DD,EE,FF,GG,HH,II,JJ,...,00,33,44,55,66,77,99,88,11,22
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,1,1,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
8,1,0,0,0,0,0,0,0,0,0,...,1,0,0,1,2,0,0,0,0,0
9,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,2,0,0,0,0,0
10,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,1,0,1,1,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
m4["Correct(TP)"] = m4.sum(axis=1)

In [56]:
dataString = dt.copy()
stringData = dataString.to_string()

In [57]:
dataString["PlateLength"]= dataString['Plate'].str.len()

In [58]:
dataString["Correct(TP)"] = m4["Correct(TP)"]

In [59]:
dataString["Overall"] = dataString['Correct(TP)']/dataString['PlateLength']

In [60]:
dataString["Overall"] = dataString['Overall'].round(2)

In [61]:
# dataString

In [62]:
acc = dataString['Overall'].sum()/230*100

In [63]:
print('Accuracy - > ', acc.round(2), '%')

Accuracy - >  6.92 %

# Part 3 - Precision and Recall

In [64]:
rp=merged2.replace(np.nan, '-')
gt=merged1.replace(np.nan, '-')

In [65]:
test = gt+rp
# test.head(20)

In [66]:
test1=test.replace(np.nan, '-')
# test1

In [67]:
test1['AA']=(test1 == 'AA').T.sum()
test1['BB']=(test1 == 'BB').T.sum()
test1['CC']=(test1 == 'CC').T.sum()
test1['DD']=(test1 == 'DD').T.sum()
test1['EE']=(test1 == 'EE').T.sum()
test1['FF']=(test1 == 'FF').T.sum()
test1['GG']=(test1 == 'GG').T.sum()
test1['HH']=(test1 == 'HH').T.sum()
test1['II']=(test1 == 'II').T.sum()
test1['JJ']=(test1 == 'JJ').T.sum()
test1['KK']=(test1 == 'KK').T.sum()
test1['LL']=(test1 == 'LL').T.sum()
test1['MM']=(test1 == 'MM').T.sum()
test1['NN']=(test1 == 'NN').T.sum()
test1['OO']=(test1 == 'OO').T.sum()
test1['PP']=(test1 == 'PP').T.sum()
test1['QQ']=(test1 == 'QQ').T.sum()
test1['RR']=(test1 == 'RR').T.sum()
test1['SS']=(test1 == 'SS').T.sum()
test1['TT']=(test1 == 'TT').T.sum()
test1['UU']=(test1 == 'UU').T.sum()
test1['VV']=(test1 == 'VV').T.sum()
test1['WW']=(test1 == 'WW').T.sum()
test1['XX']=(test1 == 'XX').T.sum()
test1['YY']=(test1 == 'YY').T.sum()
test1['ZZ']=(test1 == 'ZZ').T.sum()

test1['00']=(test1 == '00').T.sum()
test1['11']=(test1 == '11').T.sum()
test1['22']=(test1 == '22').T.sum()
test1['33']=(test1 == '33').T.sum()
test1['44']=(test1 == '44').T.sum()
test1['55']=(test1 == '55').T.sum()
test1['66']=(test1 == '66').T.sum()
test1['77']=(test1 == '77').T.sum()
test1['88']=(test1 == '88').T.sum()
test1['99']=(test1 == '99').T.sum()

In [68]:
test1["Sum(TP)"] = test1.sum(axis=1)
# test1.head(5)

In [69]:
test2 = test.copy()

In [70]:
test2['A-']=(test2 == 'A-').T.sum()
test2['B-']=(test2 == 'B-').T.sum()
test2['C-']=(test2 == 'C-').T.sum()
test2['D-']=(test2 == 'D-').T.sum()
test2['E-']=(test2 == 'E-').T.sum()
test2['F-']=(test2 == 'F-').T.sum()
test2['G-']=(test2 == 'G-').T.sum()
test2['H-']=(test2 == 'H-').T.sum()
test2['I-']=(test2 == 'I-').T.sum()
test2['J-']=(test2 == 'J-').T.sum()
test2['K-']=(test2 == 'K-').T.sum()
test2['L-']=(test2 == 'L-').T.sum()
test2['M-']=(test2 == 'M-').T.sum()
test2['N-']=(test2 == 'N-').T.sum()
test2['O-']=(test2 == 'O-').T.sum()
test2['P-']=(test2 == 'P-').T.sum()
test2['Q-']=(test2 == 'Q-').T.sum()
test2['R-']=(test2 == 'R-').T.sum()
test2['S-']=(test2 == 'S-').T.sum()
test2['T-']=(test2 == 'T-').T.sum()
test2['U-']=(test2 == 'U-').T.sum()
test2['V-']=(test2 == 'V-').T.sum()
test2['W-']=(test2 == 'W-').T.sum()
test2['X-']=(test2 == 'X-').T.sum()
test2['Y-']=(test2 == 'Y-').T.sum()
test2['Z-']=(test2 == 'Z-').T.sum()

test2['0-']=(test2 == '0-').T.sum()
test2['1-']=(test2 == '1-').T.sum()
test2['2-']=(test2 == '2-').T.sum()
test2['3-']=(test2 == '3-').T.sum()
test2['4-']=(test2 == '4-').T.sum()
test2['5-']=(test2 == '5-').T.sum()
test2['6-']=(test2 == '6-').T.sum()
test2['7-']=(test2 == '7-').T.sum()
test2['8-']=(test2 == '8-').T.sum()
test2['9-']=(test2 == '9-').T.sum()

In [71]:
test2["Sum(FN)"] = test2.sum(axis=1)
# test2.head(15)

In [72]:
test3 = dt.copy()
test3['Model Data'] = merged['Plate2']
test3['PlateLength'] = dataString["PlateLength"]
test3['Correct(TP)'] = test1['Sum(TP)']
test3['Missing(FN)'] = test2['Sum(FN)']
test3['Incorrect(FP)'] = test3['PlateLength'] - test3['Correct(TP)'] - test3['Missing(FN)']

In [73]:
test3.head(5)

     Plate Model Data  PlateLength  Correct(TP)  Missing(FN)  Incorrect(FP)
0    MAH41       AH41            5            0          0.0            5.0
1  VBL7689        NaN            7            0          7.0            0.0
2  PPF2308    PPFZ308            7            6          0.0            1.0
3  PPP7698    PPP163B            7            4          0.0            3.0
4  PLA2545         P2            7            1          4.0            2.0

In [74]:
# Correct (TP), inccorect (FP), missing(FN)
# Precision = TP / (TP + FP)
# Recall = TP / (TP + FN)

results = test3.copy()
results['Recall'] = results['Correct(TP)'] / (results['Correct(TP)'] + results['Missing(FN)'])
results['Precision'] = results['Correct(TP)'] / (results['Correct(TP)'] + results['Incorrect(FP)'])
results

,Plate,Model Data,PlateLength,Correct(TP),Missing(FN),Incorrect(FP),Recall,Precision
0,MAH41,AH41,5,0,0.0,5.0,NaN,0.000000
1,VBL7689,NaN,7,0,7.0,0.0,0.0,NaN
2,PPF2308,PPFZ308,7,6,0.0,1.0,1.0,0.857143
3,PPP7698,PPP163B,7,4,0.0,3.0,1.0,0.571429
4,PLA2545,P2,7,1,4.0,2.0,0.2,0.333333
...,...,...,...,...,...,...,...,...
71,QCE4305,NaN,7,0,7.0,0.0,0.0,NaN
72,PNS7501,NaN,7,0,7.0,0.0,0.0,NaN
73,WUA1623,WUAID23,7,5,0.0,2.0,1.0,0.714286
74,WJV2854,WJV24,7,4,1.0,2.0,0.8,0.666667
75,PKV2621,NaN,7,0,7.0,0.0,0.0,NaN

In [75]:
print('Precision - > ', (results['Precision'].sum() / 230 * 100).round(2), '%')
print('Recall - > ', (results['Recall'].sum() / 230 * 100).round(2), '%')

Precision - >  7.36 %
Recall - >  8.83 %