# LICENSE PLATE EVALUATION FOR MALAYSIA DATASET

In [1]:
import pandas as pd
import numpy as np

In [2]:
header = ["Plate"]
dt=pd.read_csv('groundtruth_Malaysia.csv',names=header)
dt.dtypes

Plate    object
dtype: object

In [3]:
dt['Plate'].str.split('',expand=True)
dt

      Plate
0     MAH41
1   VBL7689
2   PPF2308
3   PPP7698
4   PLA2545
..      ...
71  QCE4305
72  PNS7501
73  WUA1623
74  WJV2854
75  PKV2621

[76 rows x 1 columns]

In [4]:
header2 = ["Plate"]
drf=pd.read_csv('output_RF_my.csv',skip_blank_lines=False,names=header2)
drf.dtypes

Plate    object
dtype: object

In [5]:
drf['Plate'].str.split('',expand=True)

      0    1    2    3     4     5     6     7     8
0          A    H    4     1        None  None  None
1   NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN
2          P    P    F     Z     3     Q     B
3          P    P    P     J     6     9     H
4          P    2       None  None  None  None  None
..  ...  ...  ...  ...   ...   ...   ...   ...   ...
71  NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN
72  NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN
73         W    U    A     T     B     2     3
74         W    J    V     2     4        None  None
75         P    K    V     2     6     2     1

[76 rows x 9 columns]

# Part 1 - Accuracy of the Entire License Plate

In [6]:
cp = pd.merge(dt, drf, how='inner', on=['Plate']).count()
cp

Plate    2
dtype: int64

In [8]:
missing = dt['Plate'].count() - drf['Plate'].count()
missing

43

In [9]:
fail = 76 - cp - missing
fail

Plate    31
dtype: int64

In [10]:
correct = cp/76
miss = missing/76
fail_detect = fail/76

In [11]:
print ('Correct / Overall Plates -> ' , round(correct, 2).to_string())
print ('Missing / Overall Plates -> ' , round(miss, 2))
print ('Failed Detection / Overall Plates -> ' , round(fail_detect, 2).to_string())

Correct / Overall Plates ->  Plate    0.03
Missing / Overall Plates ->  0.57
Failed Detection / Overall Plates ->  Plate    0.41

The Accuracy of the Entire License Plate

In [12]:
Accuracy = correct * 100
print('Accuracy', round(Accuracy, 2).to_string(), '%')

Accuracy Plate    2.63 %

# Part 2 -> Accuracy of the characters by row for each License Plate

In [13]:
merged = dt.copy()

In [14]:
merged['Plate2'] = drf['Plate']
merged.head(20)

      Plate   Plate2
0     MAH41     AH41
1   VBL7689      NaN
2   PPF2308  PPFZ3QB
3   PPP7698  PPPJ69H
4   PLA2545       P2
5   PLU9828      NaN
6    VW1054    VWU54
7   BMM4149   BMM449
8   WA5066R  WA5U66R
9   BJY6688    BJY66
10    NCH11     NCHJ
11  ADW8887      NaN
12    DEB70    DEB7D
13  NCU8918      NaN
14  PLE5334      NaN
15     TBT8      NaN
16  PMG8727      NaN
17  QAT3111   LTHWWW
18  WXK7694      NaN
19  PMW7595      NaN

In [15]:
merged1 = merged['Plate'].str.split('',expand=True)
merged2 = merged['Plate2'].str.split('',expand=True)
m3 = merged1 + merged2
m3.head(20)

     0    1    2    3    4    5    6    7    8   9   10  11  12  13
0         MA   AH   H4   41    1  NaN  NaN  NaN NaN NaN NaN NaN NaN
1   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
2         PP   PP   FF   2Z   33   0Q   8B      NaN NaN NaN NaN NaN
3         PP   PP   PP   7J   66   99   8H      NaN NaN NaN NaN NaN
4         PP   L2    A  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
5   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
6         VV   WW   1U   05   54    4  NaN  NaN NaN NaN NaN NaN NaN
7         BB   MM   MM   44   14   49    9  NaN NaN NaN NaN NaN NaN
8         WW   AA   55   0U   66   66   RR      NaN NaN NaN NaN NaN
9         BB   JJ   YY   66   66    8  NaN  NaN NaN NaN NaN NaN NaN
10        NN   CC   HH   1J    1  NaN  NaN  NaN NaN NaN NaN NaN NaN
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
12        DD   EE   BB   77   0D       NaN  NaN NaN NaN NaN NaN NaN
13  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
14  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
15  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
16  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
17        QL   AT   TH   3W   1W   1W    1  NaN NaN NaN NaN NaN NaN
18  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
19  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN

In [16]:
m4=m3.copy()

Calculate how many that are correctly predicted. Example: AA, BB, CC, ...

In [17]:
m4['AA']=(m4 == 'AA').T.sum()
m4['BB']=(m4 == 'BB').T.sum()
m4['CC']=(m4 == 'CC').T.sum()
m4['DD']=(m4 == 'DD').T.sum()
m4['EE']=(m4 == 'EE').T.sum()
m4['FF']=(m4 == 'FF').T.sum()
m4['GG']=(m4 == 'GG').T.sum()
m4['HH']=(m4 == 'HH').T.sum()
m4['II']=(m4 == 'II').T.sum()
m4['JJ']=(m4 == 'JJ').T.sum()
m4['KK']=(m4 == 'KK').T.sum()
m4['LL']=(m4 == 'LL').T.sum()
m4['MM']=(m4 == 'MM').T.sum()
m4['NN']=(m4 == 'NN').T.sum()
m4['OO']=(m4 == 'OO').T.sum()
m4['PP']=(m4 == 'PP').T.sum()
m4['QQ']=(m4 == 'QQ').T.sum()
m4['RR']=(m4 == 'RR').T.sum()
m4['SS']=(m4 == 'SS').T.sum()
m4['TT']=(m4 == 'TT').T.sum()
m4['UU']=(m4 == 'UU').T.sum()
m4['VV']=(m4 == 'VV').T.sum()
m4['WW']=(m4 == 'WW').T.sum()
m4['XX']=(m4 == 'XX').T.sum()
m4['YY']=(m4 == 'YY').T.sum()
m4['ZZ']=(m4 == 'ZZ').T.sum()

m4['00']=(m4 == '00').T.sum()
m4['11']=(m4 == '11').T.sum()
m4['22']=(m4 == '22').T.sum()
m4['33']=(m4 == '33').T.sum()
m4['44']=(m4 == '44').T.sum()
m4['55']=(m4 == '55').T.sum()
m4['66']=(m4 == '66').T.sum()
m4['77']=(m4 == '77').T.sum()
m4['88']=(m4 == '88').T.sum()
m4['99']=(m4 == '99').T.sum()

In [18]:
m4[['AA', 'BB', 'CC', 'DD', 'EE', 'FF', 'GG', 'HH', 'II', 'JJ', 'KK', 'LL', 'MM', 'NN', 'OO', 'PP', 'QQ', 'RR', 'SS', 'TT', 'UU', 'VV', 'WW', 'XX', 'YY', 'ZZ', '00', '11', '22', '33', '44', '55', '66', '77', '88', '99']].head(20)

,AA,BB,CC,DD,EE,FF,GG,HH,II,JJ,...,00,11,22,33,44,55,66,77,88,99
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
8,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,2,0,0,0
9,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,2,0,0,0
10,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,1,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
m4["Correct(TP)"] = m4.sum(axis=1)

C:\Users\JIAYU~1\AppData\Local\Temp/ipykernel_7360/3922289713.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  m4["Correct(TP)"] = m4.sum(axis=1)

In [20]:
m4

,0,1,2,3,4,5,6,7,8,9,...,11,22,33,44,55,66,77,88,99,Correct(TP)
0,,MA,AH,H4,41,1,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0.0
2,,PP,PP,FF,2Z,33,0Q,8B,,NaN,...,0,0,1,0,0,0,0,0,0,4.0
3,,PP,PP,PP,7J,66,99,8H,,NaN,...,0,0,0,0,0,1,0,0,1,5.0
4,,PP,L2,A,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0.0
72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0.0
73,,WW,UU,AA,1T,6B,22,33,,NaN,...,0,1,1,0,0,0,0,0,0,5.0
74,,WW,JJ,VV,22,84,5,NaN,NaN,NaN,...,0,1,0,0,0,0,0,0,0,4.0
75,,PP,KK,VV,22,66,22,11,,NaN,...,1,2,0,0,0,1,0,0,0,7.0

In [21]:
dataString = dt.copy()
stringData = dataString.to_string()

In [22]:
dataString["PlateLength"]= dataString['Plate'].str.len()

In [23]:
dataString["Correct(TP)"] = m4["Correct(TP)"]

In [24]:
dataString["Overall"] = dataString['Correct(TP)']/dataString['PlateLength']

In [25]:
dataString["Overall"] = dataString['Overall'].round(2)

In [26]:
dataString

      Plate  PlateLength  Correct(TP)  Overall
0     MAH41            5          0.0     0.00
1   VBL7689            7          0.0     0.00
2   PPF2308            7          4.0     0.57
3   PPP7698            7          5.0     0.71
4   PLA2545            7          1.0     0.14
..      ...          ...          ...      ...
71  QCE4305            7          0.0     0.00
72  PNS7501            7          0.0     0.00
73  WUA1623            7          5.0     0.71
74  WJV2854            7          4.0     0.57
75  PKV2621            7          7.0     1.00

[76 rows x 4 columns]

In [27]:
acc = dataString['Overall'].sum()/230*100

The accuracy for the characters

In [28]:
print('Accuracy - > ', acc.round(2), '%')

Accuracy - >  6.88 %

# Part 3 - Precision and Recall

Replace NaN to "-". If the model could not predict, it will return "-"

In [29]:
rp=merged2.replace(np.nan, '-')
gt=merged1.replace(np.nan, '-')

Merge the Groundtruth characters with Prediction characters. Example: MA -> M is Groundtruth, A is predicted. If A- means A is groundtruth, - is the model can't predict

In [30]:
test = gt+rp
test.head(20)

   0   1   2   3   4   5   6   7   8   9   10  11  12  13
0      MA  AH  H4  41   1   -  --  -- NaN NaN NaN NaN NaN
1   -  V-  B-  L-  7-  6-  8-  9-   - NaN NaN NaN NaN NaN
2      PP  PP  FF  2Z  33  0Q  8B     NaN NaN NaN NaN NaN
3      PP  PP  PP  7J  66  99  8H     NaN NaN NaN NaN NaN
4      PP  L2   A  2-  5-  4-  5-   - NaN NaN NaN NaN NaN
5   -  P-  L-  U-  9-  8-  2-  8-   - NaN NaN NaN NaN NaN
6      VV  WW  1U  05  54   4   -  -- NaN NaN NaN NaN NaN
7      BB  MM  MM  44  14  49   9   - NaN NaN NaN NaN NaN
8      WW  AA  55  0U  66  66  RR     NaN NaN NaN NaN NaN
9      BB  JJ  YY  66  66   8  8-   - NaN NaN NaN NaN NaN
10     NN  CC  HH  1J   1   -  --  -- NaN NaN NaN NaN NaN
11  -  A-  D-  W-  8-  8-  8-  7-   - NaN NaN NaN NaN NaN
12     DD  EE  BB  77  0D      --  -- NaN NaN NaN NaN NaN
13  -  N-  C-  U-  8-  9-  1-  8-   - NaN NaN NaN NaN NaN
14  -  P-  L-  E-  5-  3-  3-  4-   - NaN NaN NaN NaN NaN
15  -  T-  B-  T-  8-   -  --  --  -- NaN NaN NaN NaN NaN
16  -  P-  M-  G-  8-  7-  2-  7-   - NaN NaN NaN NaN NaN
17     QL  AT  TH  3W  1W  1W   1   - NaN NaN NaN NaN NaN
18  -  W-  X-  K-  7-  6-  9-  4-   - NaN NaN NaN NaN NaN
19  -  P-  M-  W-  7-  5-  9-  5-   - NaN NaN NaN NaN NaN

In [31]:
test1=test.replace(np.nan, '-')
test1

   0   1   2   3   4   5   6   7   8  9  10 11 12 13
0      MA  AH  H4  41   1   -  --  --  -  -  -  -  -
1   -  V-  B-  L-  7-  6-  8-  9-   -  -  -  -  -  -
2      PP  PP  FF  2Z  33  0Q  8B      -  -  -  -  -
3      PP  PP  PP  7J  66  99  8H      -  -  -  -  -
4      PP  L2   A  2-  5-  4-  5-   -  -  -  -  -  -
.. ..  ..  ..  ..  ..  ..  ..  ..  .. .. .. .. .. ..
71  -  Q-  C-  E-  4-  3-  0-  5-   -  -  -  -  -  -
72  -  P-  N-  S-  7-  5-  0-  1-   -  -  -  -  -  -
73     WW  UU  AA  1T  6B  22  33      -  -  -  -  -
74     WW  JJ  VV  22  84   5  4-   -  -  -  -  -  -
75     PP  KK  VV  22  66  22  11      -  -  -  -  -

[76 rows x 14 columns]

Calculate how many that are correctly predicted. Example: AA, BB, CC, ...

In [32]:
test1['AA']=(test1 == 'AA').T.sum()
test1['BB']=(test1 == 'BB').T.sum()
test1['CC']=(test1 == 'CC').T.sum()
test1['DD']=(test1 == 'DD').T.sum()
test1['EE']=(test1 == 'EE').T.sum()
test1['FF']=(test1 == 'FF').T.sum()
test1['GG']=(test1 == 'GG').T.sum()
test1['HH']=(test1 == 'HH').T.sum()
test1['II']=(test1 == 'II').T.sum()
test1['JJ']=(test1 == 'JJ').T.sum()
test1['KK']=(test1 == 'KK').T.sum()
test1['LL']=(test1 == 'LL').T.sum()
test1['MM']=(test1 == 'MM').T.sum()
test1['NN']=(test1 == 'NN').T.sum()
test1['OO']=(test1 == 'OO').T.sum()
test1['PP']=(test1 == 'PP').T.sum()
test1['QQ']=(test1 == 'QQ').T.sum()
test1['RR']=(test1 == 'RR').T.sum()
test1['SS']=(test1 == 'SS').T.sum()
test1['TT']=(test1 == 'TT').T.sum()
test1['UU']=(test1 == 'UU').T.sum()
test1['VV']=(test1 == 'VV').T.sum()
test1['WW']=(test1 == 'WW').T.sum()
test1['XX']=(test1 == 'XX').T.sum()
test1['YY']=(test1 == 'YY').T.sum()
test1['ZZ']=(test1 == 'ZZ').T.sum()

test1['00']=(test1 == '00').T.sum()
test1['11']=(test1 == '11').T.sum()
test1['22']=(test1 == '22').T.sum()
test1['33']=(test1 == '33').T.sum()
test1['44']=(test1 == '44').T.sum()
test1['55']=(test1 == '55').T.sum()
test1['66']=(test1 == '66').T.sum()
test1['77']=(test1 == '77').T.sum()
test1['88']=(test1 == '88').T.sum()
test1['99']=(test1 == '99').T.sum()

In [33]:
test1["Sum(TP)"] = test1.sum(axis=1)

C:\Users\JIAYU~1\AppData\Local\Temp/ipykernel_7360/2875601810.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  test1["Sum(TP)"] = test1.sum(axis=1)

In [34]:
test2 = test.copy()

Calculate how many that cannot be predicted. Example: A-, B-, C-, ...

In [35]:
test2['A-']=(test2 == 'A-').T.sum()
test2['B-']=(test2 == 'B-').T.sum()
test2['C-']=(test2 == 'C-').T.sum()
test2['D-']=(test2 == 'D-').T.sum()
test2['E-']=(test2 == 'E-').T.sum()
test2['F-']=(test2 == 'F-').T.sum()
test2['G-']=(test2 == 'G-').T.sum()
test2['H-']=(test2 == 'H-').T.sum()
test2['I-']=(test2 == 'I-').T.sum()
test2['J-']=(test2 == 'J-').T.sum()
test2['K-']=(test2 == 'K-').T.sum()
test2['L-']=(test2 == 'L-').T.sum()
test2['M-']=(test2 == 'M-').T.sum()
test2['N-']=(test2 == 'N-').T.sum()
test2['O-']=(test2 == 'O-').T.sum()
test2['P-']=(test2 == 'P-').T.sum()
test2['Q-']=(test2 == 'Q-').T.sum()
test2['R-']=(test2 == 'R-').T.sum()
test2['S-']=(test2 == 'S-').T.sum()
test2['T-']=(test2 == 'T-').T.sum()
test2['U-']=(test2 == 'U-').T.sum()
test2['V-']=(test2 == 'V-').T.sum()
test2['W-']=(test2 == 'W-').T.sum()
test2['X-']=(test2 == 'X-').T.sum()
test2['Y-']=(test2 == 'Y-').T.sum()
test2['Z-']=(test2 == 'Z-').T.sum()

test2['0-']=(test2 == '0-').T.sum()
test2['1-']=(test2 == '1-').T.sum()
test2['2-']=(test2 == '2-').T.sum()
test2['3-']=(test2 == '3-').T.sum()
test2['4-']=(test2 == '4-').T.sum()
test2['5-']=(test2 == '5-').T.sum()
test2['6-']=(test2 == '6-').T.sum()
test2['7-']=(test2 == '7-').T.sum()
test2['8-']=(test2 == '8-').T.sum()
test2['9-']=(test2 == '9-').T.sum()

In [36]:
test2["Sum(FN)"] = test2.sum(axis=1)
test2

C:\Users\JIAYU~1\AppData\Local\Temp/ipykernel_7360/1776673086.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  test2["Sum(FN)"] = test2.sum(axis=1)

,0,1,2,3,4,5,6,7,8,9,...,1-,2-,3-,4-,5-,6-,7-,8-,9-,Sum(FN)
0,,MA,AH,H4,41,1,-,--,--,NaN,...,0,0,0,0,0,0,0,0,0,0.0
1,-,V-,B-,L-,7-,6-,8-,9-,-,NaN,...,0,0,0,0,0,1,1,1,1,7.0
2,,PP,PP,FF,2Z,33,0Q,8B,,NaN,...,0,0,0,0,0,0,0,0,0,0.0
3,,PP,PP,PP,7J,66,99,8H,,NaN,...,0,0,0,0,0,0,0,0,0,0.0
4,,PP,L2,A,2-,5-,4-,5-,-,NaN,...,0,1,0,1,2,0,0,0,0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,-,Q-,C-,E-,4-,3-,0-,5-,-,NaN,...,0,0,1,1,1,0,0,0,0,7.0
72,-,P-,N-,S-,7-,5-,0-,1-,-,NaN,...,1,0,0,0,1,0,1,0,0,7.0
73,,WW,UU,AA,1T,6B,22,33,,NaN,...,0,0,0,0,0,0,0,0,0,0.0
74,,WW,JJ,VV,22,84,5,4-,-,NaN,...,0,0,0,1,0,0,0,0,0,1.0
75,,PP,KK,VV,22,66,22,11,,NaN,...,0,0,0,0,0,0,0,0,0,0.0

In [37]:
test2=test2.replace(np.nan, '-')
test2

,0,1,2,3,4,5,6,7,8,9,...,1-,2-,3-,4-,5-,6-,7-,8-,9-,Sum(FN)
0,,MA,AH,H4,41,1,-,--,--,-,...,0,0,0,0,0,0,0,0,0,0.0
1,-,V-,B-,L-,7-,6-,8-,9-,-,-,...,0,0,0,0,0,1,1,1,1,7.0
2,,PP,PP,FF,2Z,33,0Q,8B,,-,...,0,0,0,0,0,0,0,0,0,0.0
3,,PP,PP,PP,7J,66,99,8H,,-,...,0,0,0,0,0,0,0,0,0,0.0
4,,PP,L2,A,2-,5-,4-,5-,-,-,...,0,1,0,1,2,0,0,0,0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,-,Q-,C-,E-,4-,3-,0-,5-,-,-,...,0,0,1,1,1,0,0,0,0,7.0
72,-,P-,N-,S-,7-,5-,0-,1-,-,-,...,1,0,0,0,1,0,1,0,0,7.0
73,,WW,UU,AA,1T,6B,22,33,,-,...,0,0,0,0,0,0,0,0,0,0.0
74,,WW,JJ,VV,22,84,5,4-,-,-,...,0,0,0,1,0,0,0,0,0,1.0
75,,PP,KK,VV,22,66,22,11,,-,...,0,0,0,0,0,0,0,0,0,0.0

In [38]:
test3 = dt.copy()
test3['Model Data'] = merged['Plate2']
test3['PlateLength'] = dataString["PlateLength"]
test3['Correct(TP)'] = test1['Sum(TP)']
test3['Missing(FN)'] = test2['Sum(FN)']
test3['Incorrect(FP)'] = test3['PlateLength'] - test3['Correct(TP)'] - test3['Missing(FN)']

In [39]:
test3

      Plate Model Data  PlateLength  Correct(TP)  Missing(FN)  Incorrect(FP)
0     MAH41       AH41            5            0          0.0            5.0
1   VBL7689        NaN            7            0          7.0            0.0
2   PPF2308    PPFZ3QB            7            4          0.0            3.0
3   PPP7698    PPPJ69H            7            5          0.0            2.0
4   PLA2545         P2            7            1          4.0            2.0
..      ...        ...          ...          ...          ...            ...
71  QCE4305        NaN            7            0          7.0            0.0
72  PNS7501        NaN            7            0          7.0            0.0
73  WUA1623    WUATB23            7            5          0.0            2.0
74  WJV2854      WJV24            7            4          1.0            2.0
75  PKV2621    PKV2621            7            7          0.0            0.0

[76 rows x 6 columns]

In [40]:
results = test3.copy()
results['Recall'] = results['Correct(TP)'] / (results['Correct(TP)'] + results['Missing(FN)'])
results['Precision'] = results['Correct(TP)'] / (results['Correct(TP)'] + results['Incorrect(FP)'])
results

,Plate,Model Data,PlateLength,Correct(TP),Missing(FN),Incorrect(FP),Recall,Precision
0,MAH41,AH41,5,0,0.0,5.0,NaN,0.000000
1,VBL7689,NaN,7,0,7.0,0.0,0.0,NaN
2,PPF2308,PPFZ3QB,7,4,0.0,3.0,1.0,0.571429
3,PPP7698,PPPJ69H,7,5,0.0,2.0,1.0,0.714286
4,PLA2545,P2,7,1,4.0,2.0,0.2,0.333333
...,...,...,...,...,...,...,...,...
71,QCE4305,NaN,7,0,7.0,0.0,0.0,NaN
72,PNS7501,NaN,7,0,7.0,0.0,0.0,NaN
73,WUA1623,WUATB23,7,5,0.0,2.0,1.0,0.714286
74,WJV2854,WJV24,7,4,1.0,2.0,0.8,0.666667
75,PKV2621,PKV2621,7,7,0.0,0.0,1.0,1.000000

In [41]:
print('Precision - > ', (results['Precision'].sum() / 230 * 100).round(2), '%')
print('Recall - > ', (results['Recall'].sum() / 230 * 100).round(2), '%')

Precision - >  7.47 %
Recall - >  9.35 %